.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
backend/.cache/

# Node
node_modules/
dist/
frontend/dist/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/

**/venv/
**.env
